header{
    background-color: #49691F;
    height: 100px;
}

header div.name{
    position: absolute;
    top: 25px;
    width: 400px;
    height: 10px;
    left: 120px;
    color: white;
    font-family: 'Pacifico', cursive;
}

header div.group{
    position: absolute;
    top: 25px;
    height: 10px;
    right: 50px;
    color: white;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

header div.Picture img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    top: 10px;
    left: 20px;
}

.table{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.table th{
    background-color: #92D13D !important;
    color: white;
}

.card-title{
    background: #64902A !important;
    font-family: 'Pacifico', cursive;
}

.welcome{
    animation-name: smooth-pop;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes smooth-pop {
    0%   {opacity: 0%}
    15%  {opacity: 15%}
    25%  {opacity: 25%}
    40%  {opacity: 40%}
    60%  {opacity: 60%}
    75%  {opacity: 75%}
    85%  {opacity: 85%}
    95%  {opacity: 95%}
    100% {opacity: 100%}
}




