header{
    background-color: #49691F;
    height: 100px;
}

header div.name{
    position: absolute;
    top: 25px;
    width: 400px;
    height: 10px;
    left: 120px;
    color: white;
    font-family: 'Pacifico', cursive;
}

header div.group{
    position: absolute;
    top: 25px;
    height: 10px;
    right: 50px;
    color: white;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

header div.Picture img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    top: 10px;
    left: 20px;
}

.table{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.table th{
    background-color: #92D13D !important;
    color: white;
}

.card-title{
    background: #64902A !important;
    font-family: 'Pacifico', cursive;
}

.welcome{
    animation-name: smooth-pop;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes smooth-pop {
    0%   {opacity: 0%}
    15%  {opacity: 15%}
    25%  {opacity: 25%}
    40%  {opacity: 40%}
    60%  {opacity: 60%}
    75%  {opacity: 75%}
    85%  {opacity: 85%}
    95%  {opacity: 95%}
    100% {opacity: 100%}
}

#registration-form{
    font-family: 'Pacifico', cursive;
}

.deleteBtn:hover {
    color: indianred;
    cursor: pointer;
}

.divPopupModel {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    font-family: 'Pacifico', cursive;
}

.divPopupModel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.divPopupModel a:hover {
    color: #292727;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
}

#deleteModel {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 2rem 5rem 0 #00000040;
    width: fit-content;
    padding: 1rem;
}

#deleteModel.open {
    animation: open 0.5s forwards;
    z-index: 2;
}

#deleteModel.close {
    animation: close 0.5s forwards;
    z-index: 2;
}

@keyframes open {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes close {
    100% {
        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    0% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
}

.formDelete{
    width: 250px;
}

.formDelete label{
    font-weight: 600;
    font-size: 17px;
}

.formDelete>div:nth-child(1){
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formDelete>div:nth-child(2){
    text-align: center;
}

.formDelete{
    width: 250px;
}

.btnRed{
    background-color: #e34c4c !important;
}

.btnRed:hover{
    background-color: #db2323 !important;
    cursor: pointer;
}

input[type=submit] {
    background-color: #2a225a;
    color: white;
    padding: 5px 10px;
    margin: auto;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    grid-column: 3;
}




